/* -------------------------------------- */
/* CSS SELECTORS ACTIVITY */
/* -------------------------------------- */
/* Follow along as we complete the CSS for the elements on this page */

/* ------------------------------------ */
/* START WORK AT LINE 70 */
/* ------------------------------------ */

/* The root element is where we create variables for our file */
:root{
    /* Basic Theme Colors */
    --red: #bf3636;
    --orange: #d04936;
    --yellow: #ffcc14;
    --green: #5a5a23;
    --blue: #303464;
    --pink: #fe4b7a;
    --purple: #741a60;
    --brown: #40130e;
    
    /* Data Visualization Colors - 12-bit rainbow */
    --dv-fuchsia: #817;
    --dv-red: #a35;
    --dv-pink: #c66;
    --dv-orange: #e94;
    --dv-yellow: #ed0;
    --dv-lime: #9d5;
    --dv-mint: #4d8;
    --dv-teal: #2cb;
    --dv-lt-blue: #0bc;
    --dv-med-blue: #09c;
    --dv-dk-blue: #36b;
    --dv-purple: #639;
    
    /* Text & Other Neutral Colors */
    --white: #fff;
    --lt-gray: #eaeaea;
    --med-gray: #555;
    --dk-gray: #222;
    --black: #000;
    
    /* Font Stack */
    --fonts: Raleway, Arial, sans-serif;
    
    /* Shadows */
    --box-shadow-sm: -3px 3px 7px var(--med-gray);
    --box-shadow-lg: -6px 6px 10px var(--med-gray);
    
    --filter-shadow-sm: drop-shadow(-3px 3px 7px var(--med-gray));
    --filter-shadow-lg: drop-shadow(-6px 6px 10px var(--med-gray));
}

/* -------------------------------------- */
/* ORGANIZING YOUR STYLES */
/* -------------------------------------- */


/* ------------------------------------ */
/* GLOBAL CUSTOM STYLES */
/* ------------------------------------ */
/* ----- */
/* TO DO: universal selector */
/* ----- */
* {
    font-family: var(--fonts);
    line-height: 1.3;
    color: var(--dk-gray);
    font-size: 1rem;
}

/* ----- */
/* TO DO: select body tag */
/* ----- */
body {
    box-sizing: border-box;
    background-color: var(--lt-gray);
}

/* --------------- */
/* HEADER/FOOTER SHARED STYLES */
/* --------------- */
/* TO DO: select header and footer */
/* --------------- */
header, footer {
    padding: 2rem 1rem;
    background-color: var(--white);
    width: 100%;
    max-width: 1200px;
    box-shadow: var(--box-shadow-sm);
}

/* --------------- */
/* HEADER ONLY */
/* --------------- */
/* TO DO: header by tag name */
header {
    margin: 0 auto 2rem auto;
}

/* --------------- */
/* HEADING STYLES */
/* --------------- */

/* h1 only */
h1 {
    font-size: 2em;
    margin: 0;
    text-align: center;
}

/* h1 and h2 together */
h1, h2 {
    grid-column: 1/-1;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

/* h2 only */
h2 {
    font-size: 1.75rem;
    margin: 0.25rem;
}

/* h3 only */
h3 {
    font-size: 1.5rem;
    margin: 0.25rem;
}

/* --------------- */
/* UNORDERED LISTS */
/* --------------- */
ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

/* --------------- */
/* LINK STYLES */
/* --------------- */
a {
    color: var(--blue);
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
    outline: 4px solid var(--dv-med-blue);
    outline-offset: 2px;
}

/* --------------- */
/* MAIN */
/* --------------- */
main {
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
}

/* --------------- */
/* SECTIONS INSIDE MAIN */
/* --------------- */
main > section {
    display: block;
    width: calc(100% - 2rem);
    max-width: calc(500px - 2rem);
    min-height: 300px;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow-sm);
}

/* --------------- */
/* PARAGRAPHS */
/* --------------- */
p {
    padding: 1rem; 
    font-size: 1.2rem;
    max-width: 65ch;
    margin: 0 auto;
}

/* --------------- */
/* IMAGES & SVG */
/* --------------- */
img, svg {
    display: block;
    width: 100%;
    height: auto;
}

/* --------------- */
/* SPAN */
/* --------------- */
span {
    display: block;
}

/* ------------------------------------ */
/* SECTION 1 — IMAGE SECTION */
/* ------------------------------------ */
#images h2 {
    padding: 12px 0;
    background-color: var(--blue);
    color: var(--white);
}

/* ------------------------------------ */
/* SECTION 2 — NAVIGATION */
/* ------------------------------------ */

#navigation h2 {
    padding: 12px 0;
    background-color: var(--green);
    color: var(--white);
}

#navigation ul {
    display: block;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#navigation li {
    display: block;
    width: 100%;
}

#navigation a {
    display: block;
    width: 90%;
    margin: 16px auto;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 16px;
    font-size: 1.2rem;
    background-color: var(--green);
    color: var(--white);
    box-shadow: var(--box-shadow-lg);
    letter-spacing: 1px;
}

#navigation a:hover {
    background-color: var(--white);
    color: var(--green);
    box-shadow: var(--box-shadow-sm);
}

/* ------------------------------------ */
/* SECTION 3 — FORM SECTION */
/* ------------------------------------ */

.form-section h2 {
    padding: 12px 0;
    background-color: var(--dv-fuchsia);
    color: var(--white);
}

input, label, select, textarea {
    display: block;
    width: 95%;
    margin: 0.5rem auto;
    font-family: var(--fonts);
    font-size: 1.1rem;
}

input, select {
    height: 2rem;
    border: 2px solid var(--dk-gray);
}

input:focus {
    outline: 4px solid var(--orange);
    outline-offset: 2px;
    border: none;
}

input:focus {
    outline-color: var(--dv-dk-blue);
}

label {
    font-size: 1.25rem;
    margin-top: 16px;
}

.required {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline;
    color: var(--purple);
}

input[type="submit"] {
    display: block;
    margin: 32px auto 16px;
    width: 100%;
    background-color: var(--purple);
    border: none;
    outline: none;
    color: var(--white);
    padding: 16px;
    font-family: var(--fonts);
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: var(--box-shadow-lg);
}

input[type="submit"]:hover {
    box-shadow: var(--box-shadow-sm);
    color: var(--purple);
    background-color: var(--lt-gray);
}

input[type="submit"]:focus {
    box-shadow: var(--box-shadow-sm);
    outline: 4px solid var(--dv-dk-blue);
    outline-offset: 1px;
}

/* ------------------------------------ */
/* SECTION 4 — LIST STYLING */
/* ------------------------------------ */

.list-styling h2 {
    color: var(--blue);
}

#list ul {
    display: block;
    width: fit-content;
    margin: 32px auto;
}

#list li {
    font-size: 1.25rem;
    line-height: 1.35;
    margin-bottom: 8px;
    color: var(--dv-pink);
}

#list li::marker {
    font-size: 3rem;
    content: "\2730";
}

#list li:first-child {
    color: var(--purple);
}

#list li:last-child {
    color: var(--dv-lt-blue);
}

/* ------------------------------------ */
/* SECTION 5 — MORE STYLING */
/* ------------------------------------ */

#more div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#more > div {
    width: 300px;
    height: 300px;
    background-color: var(--dv-red);
    margin: 16px auto;
}

#more div:nth-child(2) {
    width: 250px;
    height: 250px;
    background-color: var(--dv-orange);
}

#more div.yellow {
    width: 200px;
    height: 200px;
    background-color: var(--dv-yellow);
}

#more div.mint {
    width: 150px;
    height: 150px;
    background-color: var(--dv-mint);
}

#more div.blue {
    width: 100px;
    height: 100px;
    background-color: var(--dv-lt-blue);
}

/* ------------------------------------ */
/* SOFTWARE LINKS */
/* ------------------------------------ */

#software {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

#software a {
    width: 100px;
    margin: 0 auto;
    background-color: var(--dv-lime);
    text-decoration: none;
    box-shadow: var(--box-shadow-lg);
}

#software a:hover {
    background-color: var(--dk-gray);
    box-shadow: var(--box-shadow-sm);
}

#software svg {
    stroke: var(--dk-gray);
}

/* completed for you */
#software a:hover svg {
    stroke: var(--dv-lime);
}

/* ------------------------------------ */
/* TABLE SECTION */
/* ------------------------------------ */

table {
    border-collapse: collapse;
    width: 100%;
}

caption {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 8px;
}

#table-styles th {
    background-color: var(--blue);
    color: var(--white);
}

#table-styles tbody tr:nth-child(odd) {
    background-color: var(--dv-orange);
}

#table-styles tbody td:first-child {
    font-weight: bold;
}

th, td {
    border: 1px solid var(--dk-gray);
    padding: 4px;
}

tfoot {
    font-weight: bold;
}

/* ------------------------------------ */
/* BORDER STYLING */
/* ------------------------------------ */

#borders div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#borders > div {
    width: 300px;
    height: 300px;
    margin: 16px auto;
    border: 6px solid var(--red);
}

#borders div:nth-child(2) {
    width: 250px;
    height: 250px;
    border: 6px dotted var(--dv-orange);
}

#borders div.yellow {
    width: 200px;
    height: 200px;
    border: 6px dashed var(--dv-yellow);
}

#borders div.mint {
    width: 150px;
    height: 150px;
    border: 6px double var(--dv-mint);
}

#borders div.blue {
    width: 100px;
    height: 100px;
    border: 6px inset var(--dv-lt-blue);
}

/* ------------------------------------ */
/* PSEUDO ELEMENTS */
/* ------------------------------------ */

#pseudo {
    position: relative;
}

#pseudo div {
    width: 275px;
    height: 275px;
    margin: 56px auto 32px;
    background-color: var(--dv-mint);
    position: relative;
    z-index: 0;
}

#pseudo div::before {
    content: "\2730";
    padding: 12px 24px;
    border-radius: 50%;
    font-size: 4rem;
    margin: 0 auto;
    background-color: var(--dk-gray);
    color: var(--white);
    position: relative;
    top: -32px;
    left: -32px;
    z-index: -1;
}

#pseudo img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    top: -40px;
    z-index: 0;
}

/* ------------------------------------ */
/* FOOTER */
/* ------------------------------------ */

footer {
    margin: 2rem auto 0 auto;
    text-align: center;
}
